{% extends "base.html" %}

{% block title %}Create a New Post{% endblock %}

{% block content %}
<header class="has-text-centered">
    <h1 class="title">投稿フォーム</h1>
</header>

<form action="{{ url_for('main.create_post') }}" method="POST">
    <div class="field">
        <label class="label">タイトル(Title)</label>
        <div class="control">
            <input class="input" type="text" name="title" placeholder="Enter the title of your post" required>
        </div>
    </div>

    <div class="field">
        <label class="label">本文(Content)</label>
        <div class="control">
            <textarea class="textarea" name="content" placeholder="Write your content here" rows="10" required></textarea>
        </div>
    </div>

    <div class="field">
        <label class="label">価格(Price)</label>
        <div class="control">
            <input class="input" type="number" name="price" placeholder="Enter the price" step="0.01" required>
        </div>
    </div>

    <div class="field is-grouped form-actions">
        <div class="control">
            <button class="button is-light is-fullwidth" type="submit">投稿</button>
        </div>
        <div class="control">
            <button class="button is-light is-fullwidth" type="button" onclick="window.location.href='{{ url_for('main.posted') }}';">取消</button>
        </div>
    </div>
</form>
{% endblock %}
